
body {
background-color: #0000BD;
color: #FFFFFF;
font-family: arial, helvetica, sans-serif;
}
h1 {
background-color: #0000BD;
color: #FFFFFF;
font-family: arial, helvetica, sans-serif;

}

P {
background-color: #0000BD;
color: #FFFFFF;
font-family: arial, helvetica, sans-serif;
text-align:left;

}
a {
background-color: #0000BD;
color: #FFFFFF;
font-family: arial, helvetica, sans-serif;
text-align:center;

}