
body {
background-color: #800000;
color: #FFFFFF;
font-family: arial, helvetica, sans-serif;
}
h1 {
background-color: #800000;
color: #FFFFFF;
font-family: arial, helvetica, sans-serif;

}

P {
background-color: #800000;
color: #FFFFFF;
font-family: arial, helvetica, sans-serif;
text-align:left;

}
a {
background-color: #800000;
color: #FFD700;
font-family: arial, helvetica, sans-serif;
text-align:center;

}